from django.db import models

__all__ = (
    {% for model in models %}
    '{{ model.name }}',
    {% endfor %}
)


class _UtilMixin(object):
    @classmethod
    def _fields(cls):
        return tuple(f.name for f in cls._meta.fields)
{% for model in models %}


class {{ model.name }}(_UtilMixin, models.Model):
    {% for field in model.fields %}
    {{ field.name }} = models.{{ field.type }}({{ field.args | default(field_arg[field.type]) }})
    {% endfor %}
    {% if model.name == 'Restaurant' %}

    @property
    def avg_point(self):
        qs = self.rate_set.all()
        n = len(qs)
        if not n :
            return 0
        return sum(rate.point for rate in qs) / n
    {% elif model.name == 'Rate' %}

    @property
    def thumbup(self):
        return self.thumbup_set.filter(check=True).count()
    {% endif %}
{% endfor %}
