from django.shortcuts import render

from rest_framework import filters, viewsets

from {{ app.name }}.filters import *
from {{ app.name }}.models import *
from {{ app.name }}.serializers import *

__all__ = (
    {% for model in models %}
    '{{ model.name }}ViewSet',
    {% endfor %}
)
{% for model in models %}


class {{ model.name }}ViewSet(viewsets.ModelViewSet):
    queryset = {{ model.name }}.objects.all()
    serializer_class = {{ model.name }}Serializer
    filter_backends = (filters.DjangoFilterBackend,)
    filter_class = {{ model.name }}Filter
{% endfor %}
